<div>
  <div>
    <h1>
      Question #<%= @the_question.id %> details
    </h1>

    <div>
      <div>
        <a href="/questions">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_question/<%= @the_question.id %>">
          Delete question
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Topic
      </dt>
      <dd>
        <%= @the_question.topic %>
      </dd>

      <dt>
        Image
      </dt>
      <dd>
        <%= @the_question.image %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_question.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_question.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit question
    </h2>

    <form action="/modify_question/<%= @the_question.id %>"  method="post" >
      <div>
        <label for="topic_box">
          Topic
        </label>

        <input type="text" id="topic_box" name="query_topic" value="<%= @the_question.topic %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_question.image %>">
      </div>

      <button>
        Update question
      </button>
    </form>
  </div>
</div>

<hr>
